language: python

python:
  - "3.6"

install:
  - pip install -r python/requirements.txt

# Run python tests
script: cd python; python -m unittest test.test_parse_congressional_record test.test_scrape_congressional_record

branches:
  only:
    - master
